<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="repository"
          class="com.pluralsight.repository.HibernateCustomerRepositoryImpl"/>

    <!-- without autowire -->
    <!--<bean name="customerService"-->
          <!--class="com.pluralsight.service.CustomerServiceImpl">-->
        <!--&lt;!&ndash;<property name="customerRepository" ref="repository"/>&ndash;&gt;           &lt;!&ndash; setter injection &ndash;&gt;-->
        <!--<constructor-arg index="0" ref="repository"></constructor-arg>            &lt;!&ndash; constructor injection &ndash;&gt;-->
    <!--</bean>-->

    <!-- with autowire -->
    <bean name="customerService"
          class="com.pluralsight.service.CustomerServiceImpl" autowire="constructor">
    </bean>

</beans>